<aside class="sidebar col sticky-parent col-right sidebar-sticky u-hide-before-lg">
    <div class="sticky-bottom-wrap">
        <div class="sticky">
            {{!-- About --}}
            <div class="sidebar-items u-marginBottom30">
                <h3 class="sidebar-title u-textColorDarker title-line">About Me</h3>
                <span class="u-flexCenter justify-content-center">
                <figure class="author-avatar u-marginBottom30">
                <img class="u-image u-round justify-content-center" src="https://www.saggiehaim.net/content/images/saggie-1-e1540717699626-2.jpg" alt="Saggie Haim">
                </figure>
                </span>
                <span class="u-flexCenter justify-content-center"><p class="u-textAlignCenter">Hey, I’m Saggie. an IT architect, focused<br> on automation and orchestrations.<br> having vast experience in automating IT processes, Design systems, and planning various projects.</p></span>
            </div>
            {{#is "post"}}
                {{!-- show the last 5 articles on the post page --}}
                {{#get "posts" limit="5" filter="id:-{{post.id}}" as |sidebar_latest_post| }}
                    {{> "sidebar/sidebar-story" widgetTitle=(t "Latest Articles") widgetPosts=sidebar_latest_post}}
                {{/get}}
            {{else}}
                {{!-- show the featured 5 articles on the home page --}}
                {{#get "posts" filter="featured:true" limit="5" as |sidebar_featured_post|}}
                    {{#if sidebar_featured_post}}
                        {{> "sidebar/sidebar-story" widgetTitle=(t "Featured Posts") widgetPosts=sidebar_featured_post}}
                    {{/if}}
                {{/get}}
            {{/is}}

            {{!-- Widget Sybscribe --}}
            {{> "widget/widget-subscribers"}}

            {{!-- Tags Cloud --}}
            <h3 class="sidebar-title u-textColorDarker title-line">Tags</h3>
            {{> "sidebar/sidebar-tag-cloud"}}
        
            {{!-- Community --}}
            <div class="sidebar-items u-marginBottom30">
		    <h3 class="sidebar-title u-textColorDarker title-line">Community</h3>
            <span class="u-flexCenter justify-content-center"><a href="https://leanpub.com/psconfbook3" target="_blank"><img src="https://www.saggiehaim.net/content/images/PSConfBook3.png"></a></span>
		    <span class="u-flexCenter justify-content-center"><a href="https://leanpub.com/psconfbook2" target="_blank"><img class="u-paddingTop10" src="https://www.saggiehaim.net/content/images/PSConfBook2.png"></a></span>
		    <span class="u-flexCenter justify-content-center"><a href="https://www.planetpowershell.com/" target="_blank"><img class="u-paddingTop10" src="https://www.saggiehaim.net/content/images/planetpowershell-featured-badge.png"></a></span>
            </div>
            {{!-- Twitter Timeline --}}
            <div class="widget-twitter js-twitter-feed sidebar-items u-hide"></div>
        </div>
    </div>
</aside>


